<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="bg">
        <div class="Excel">
            <h2>Excel File Upload</h>
                <form id="uploadForm">
                    <input type="file" id="fileInput" accept=".xlsx,.xls">
                    <button type="submit" class="button">Upload</button>
                </form>
                <div id="result"></div>
        </div>
        <div class="pdfbutton">
           <a href="http://localhost:8080/home/pdf"> <button class="button">Download PDF</button> </a>
        </div>
        <script src="script.js"></script>
    </div>
</body>

</html>